.header-img-blinds {
  z-index: 1;
}

.default {
  position: absolute;
  visibility: hidden;
}

.transition {
  position: absolute;
}

.clip {
  position: absolute;

  
}

.header-img-blinds.default {
  animation: closeOpen 1s ease-in 0.7s forwards;
}

@keyframes closeOpen {
  100% {
    visibility: visible;
  }
}

.header-img-blinds.transition {
  animation: dropDown 1s ease-in 0.2s forwards;
}


@keyframes dropDown {
  20% {
    transform: translateY(0px);
  }

  50% {
    visibility: visible; 
  }

  100% {
    visibility: hidden;
    transform: translateY(-450px);
  }
}
