h1 {
    font-family: 'Abril Fatface', cursive;
    color: #3F553B;
    font-size: 48px;
}

h2 {
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 28px;
    margin-top: -10px;
}

P {
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.pg-body {
    margin-top: 280px;
    margin-bottom: 280px;
}

.month {
    margin-top: 200px;
    margin-bottom: 200px;;
}

.button-lists {
    display: flex;
    justify-content: space-between;
}

.fruits, .veggies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: 420px;
}

.a-single-fruit, .a-single-veggie {
    display: flex;
    background-color: #F5DEB8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    align-items: center;
    
    width: 100%;
    height: 100px;
    
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}



.a-single-fruit img, .a-single-veggie img{
    height: 75%;
    padding-right: 30px;
}

li {
    font-family: 'Catamaran', sans-serif;
    color: #71933B;
    font-size: 38px;
    font-weight: 700;
}

/*
@media (max-width: 768px) {  
    .content{
       width:50%;
       font-size: 90%;
    }
}
*/